body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.customClass{
    background-color: #009688!important;
    color:#fff!important;
}
.status_mess,.save-message,.load-message {
    padding: 0 10px;
    background-color:transparent;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.new{
    background-color: #eeeeee;
}
.new-atsave{
    background-color: rgba(0, 255, 115, 0.30);
}
.il {
    display: inline-block;
    margin-right: 10px;
}
.fr {
    float:right;
    margin-left: 10px;
    margin-right: 0!important;
}

#dts-function {
    margin: 10px;
    padding: 10px;
}
input#search_field {
    outline: none;
    float: left;
    position: relative;
    top: 20px;
    /* cursor: pointer; */
    width: auto;
    height: 36px;
    background: #eeeeee;
    border-radius: 3px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    margin: 0 7px 11px 0;
    color: #888;
    line-height: 36px;
    padding: 0 10px;
    /* text-align: center; */
    user-select: none;
    transition: all 0.2s ease;
    border: none;
    font-family: inherit;
    font-size: inherit;
}
input#search_field:focus {
    background-color: #f1ff92;
    color: black;
}
#message {
    border: 1px solid #eee;
    position: relative;
    display: block;
    padding: 20px 0;
    margin: 20px;
    height: 100px;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);

    /* Typography */
    font-size: 17px;
    line-height: 40px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: right;
    letter-spacing: 1px;
}
#calculator {
    display: none;
    width: 325px;
    height: auto;
    margin: 100px auto;
    padding: 20px 20px 9px;
    background: #9dd2ea;
    background: linear-gradient(#9dd2ea, #8bceec);
    border-radius: 3px;
    box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 9999;
    right: 50px;
    top:50%;
}

/* Top portion */
.top span.clear {
    float: left;
}

/* Inset shadow on the screen to create indent */
.top .screen {
    height: 40px;
    width: 158px;

    float: right;

    padding: 0 10px;

    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);

    /* Typography */
    font-size: 17px;
    line-height: 40px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: right;
    letter-spacing: 1px;
}

/* Clear floats */
.keys, .top {overflow: hidden;}

/* Applying same to the keys */
.keys span, .top span.clear {
    float: left;
    position: relative;
    top: 0;
    cursor: pointer;
    width: 66px;
    height: 36px;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    margin: 0 7px 11px 0;
    color: #888;
    line-height: 36px;
    text-align: center;
    /* prevent selection of text inside keys */
    user-select: none;
    /* Smoothing out hover and active states using css3 transitions */
    transition: all 0.2s ease;
}
.il span {
    float: left;
    position: relative;
    top: 20px;
    cursor: pointer;
    width: auto;
    height: 36px;
    background: #eeeeee;
    border-radius: 3px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    margin: 0 7px 11px 0;
    color: #888;
    line-height: 36px;
    padding: 0 10px;
    text-align: center;
    /* prevent selection of text inside keys */
    user-select: none;
    /* Smoothing out hover and active states using css3 transitions */
    transition: all 0.2s ease;
}
.il.modal {
    float: left;
    top: 20px;
    cursor: pointer;
    background: #eeeeee;
    border-radius: 3px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    margin: 0 7px 11px 0;
    color: #888;
    line-height: 36px;
    padding: 0 10px;
    text-align: center;
    /* prevent selection of text inside keys */
    user-select: none;
    /* Smoothing out hover and active states using css3 transitions */
    transition: all 0.2s ease;
    width: 500px;
    height: 300px;
    position: absolute;
    z-index: 999;
    left: 25%;
    right: 25%;
}

.il.save span,.il.prompt span{
    background-color: #97F298;
}
.il.save span:hover,.il.prompt span:hover{
    background-color: #00bd00;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    color: #ededed;
}
.il.decline span{
    background: #bd0012;

    color: white;
}
.il.decline span:hover{
    background: #810012;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    color: #fff;
}
.il.calc span{
    background: #9c89f6;
    box-shadow: 0 4px #6b54d3;
    color: white;
}
.il.calc span:hover{
    background: #d6c3f6;
    box-shadow: 0 4px rgba(0, 0, 0, 0.3);
    color: #333;
}

.il span:hover {
    background: #9c89f6;
    box-shadow: 0 4px #6b54d3;
    color: white;
}
.il span:active {
    box-shadow: 0 0 #6b54d3;
    top: 10px;
}
/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
.keys span.operator {
    background: #FFF0F5;
    margin-right: 0;
}

.keys span.eval {
    background: #f1ff92;
    box-shadow: 0px 4px #9da853;
    color: #888e5f;
}

.top span.clear {
    background: #ff9fa8;
    box-shadow: 0px 4px #ff7c87;
    color: white;
}

/* Some hover effects */
.keys span:hover {
    background: #9c89f6;
    box-shadow: 0px 4px #6b54d3;
    color: white;
}

.keys span.eval:hover {
    background: #abb850;
    box-shadow: 0px 4px #717a33;
    color: #ffffff;
}

.top span.clear:hover {
    background: #f68991;
    box-shadow: 0px 4px #d3545d;
    color: white;
}

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
.keys span:active {
    box-shadow: 0px 0px #6b54d3;
    top: 4px;
}

.keys span.eval:active {
    box-shadow: 0px 0px #717a33;
    top: 4px;
}

.top span.clear:active {
    top: 4px;
    box-shadow: 0px 0px #d3545d;
}

input[type="checkbox"] {
    position: relative;
    top: 1px;
    margin: 20px 30px;
    cursor: pointer;
}
input[type="checkbox"]:before {
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
     content: "";
     position: absolute;
     left: 0;
     z-index: 1;
     width: 1rem;
     height: 1rem;
     border: 2px solid #dddddd;
 }
input[type="checkbox"]:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #009688;
    border-top-style: none;
    border-right-style: none;
}
input[type="checkbox"]:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    background: #fff;
    cursor: pointer;
}
/*modal styles*/
  .modal.message {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
      position: absolute;
  }
.modal.content {
    position: relative;
    width: 500px;
    height: auto;
    min-height: 300px;
    margin: 0 auto;
    top: 25%;
    background: #eeeeee;
    border-radius: 3px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    color: #888;
    line-height: 36px;
    padding: 0 10px;
    text-align: center;
    user-select: none;
    transition: all 0.2s ease;
}
.modal.title {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 10px;
}

.modal.body {
    text-align: left;
    padding: 0 10px;
    margin: 10px 0;
}

.modal.cta {
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: right;
    display: block;
    width: auto;
    margin: 10px;
    padding-bottom: 20px;
}